.blog-post {
  pre {
    margin: 2rem 0 1rem 0;
  }
  h2 {
    @extend %heading;
    font-size: 2.5rem;
    color: var(--font-color);
    margin: 3rem 0 1rem 0;
  }
  li {
    @extend %heading;
    font-size: 1.5rem;
    line-height: 2rem;
    a {
      @include link-states(--heading-color, --primary-color);
    }
  }
  margin: 2rem 20%;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
    // TODO: media query
  }
  &__subtitle {
    margin: 1rem 0 2rem 0;
  }
  &__img-container {
    opacity: 0;
    @include fadeIn(3);
    width: 250px;
    height: 150px;
    float: left;
    margin-right: 2rem;
    margin-bottom: 2rem;
    @include custom(780px) {
      width: 100%;
    }
  }
  &__content-container {
    text-align: justify;
  }
  @include lg {
    &__img-container {
      float: none;
      margin: 2rem auto;
      margin-bottom: 3rem;
    }
  }
  @include md {
    margin: 2rem 5%;
    &__img-container {
      float: none;
      margin: 2rem auto;
      margin-bottom: 3rem;
      display: inline-block;
    }
  }
  @include sm {
    margin: 2rem 0;
    &__header {
      flex-direction: column;
    }
    &__img-container {
      float: none;
      margin: 2rem auto;
      margin-bottom: 3rem;
      display: inline-block;
    }
  }
}
