.index {
  display: flex;
  flex-wrap: wrap;
}

.introduction {
  width: 100%;
  letter-spacing: .35rem;
  padding: 8rem 4rem 2rem;
  font-size: 2rem;
  &__content {
    @extend .gradient-underline;
    padding-bottom: .5rem;
    background-size: 0% 5px;
    background-blend-mode: soft-light, lighten;
    transition: all .5s;
    &:hover {
      background-size: 100% 5px;
    }
  }
}

.portrait {
  width: 100%;
  padding: 4rem;
  display: flex;
  align-items: top;
  justify-content: flex-end;

  &__border {
    height: 250px;
    border-radius: 50%;
    padding: .5rem;
    // TODO: consider animation on hover?
    background:
        linear-gradient(to right bottom, var(--logo-start-color) 0%, var(--secondary-color) 55%, var(--primary-color) 80%);
  }
  &__image {
    height: 100%;
    border-radius: 50%;
    background-color: var(--bg-color);
    background-size: contain;
    padding: 1.5rem;
    overflow: hidden;
  }
}
