.index {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.introduction {
  visibility: hidden;
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex: 1 1 auto;
  letter-spacing: 0.35rem;
  padding: 10rem 2rem 2rem 3rem;
  &__content {
    @extend .gradient-underline;
    padding-bottom: 0.5rem;
    background-size: 0% 5px;
    background-blend-mode: soft-light, lighten;
    transition: background-size 0.5s;
    &:hover {
      background-size: 100% 5px;
    }
  }
  &__subtitle {
    margin-top: 0.5rem;
    font-weight: 200;
    color: var(--heading-color);
  }
  &__icon {
    svg {
      fill: var(--primary-color);
    }
  }
  @include sm {
    padding: 2rem 0;
    letter-spacing: normal;
    &__subtitle {
      margin-top: 1.5rem;
      line-height: 1.25;
    }
  }
}

.portrait {
  width: 100%;
  flex: 1 1 auto;
  margin-bottom: 4rem;
  padding: 2rem 2rem 1rem 4rem;
  display: flex;
  align-items: bottom;
  justify-content: flex-end;
  // TODO non janky image load
  &__border {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 0.5rem;
    background: linear-gradient(
      to right bottom,
      #fff 0%,
      $secondaryColor 55%,
      $primaryColor 80%
    );
    background: linear-gradient(
      to right bottom,
      var(--white-color) 0%,
      var(--secondary-color) 55%,
      var(--primary-color) 80%
    );
  }
  &__image {
    opacity: 0;
    height: 100%;
    border-radius: 50%;
    background-color: var(--bg-color);
    background-size: contain;
    padding: 1.5rem;
    overflow: hidden;
  }
  @include sm-md {
    margin-bottom: 6rem;
  }
  @include sm {
    justify-content: center;
    padding: 2rem 0;
  }
}

.arrow {
  opacity: 0;
  margin: 2rem auto;
  color: var(--primary-color);
  font-size: 30px;
  font-weight: bold;
}

/// PROJECTS
.projects {
  width: 100%;
  margin-top: 3rem;
  .project {
    margin: 4rem;
    padding: 2rem 4rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    @include sm {
      border-bottom: 5px solid var(--primary-color);
    }
    @include sm-md {
      padding: 1rem;
      margin: 1rem;
      padding-top: 2rem;
      margin-top: 2rem;
    }
    &__left {
      opacity: 0;
      transform: translateX(-100px);
      transition: all 1s ease-out;
    }
    &__right {
      opacity: 0;
      transform: translateX(100px);
      transition: all 1s ease-out;
    }
    &__left.visible,
    &__right.visible {
      opacity: 1;
      transform: none;
    }
    &__video {
      width: 47%;
      background: transparent;
      padding: 2rem;
      display: flex;
      align-items: center;
      img {
        border-radius: 3px;
      }

      @include sm {
        width: 100%;
        padding: 1rem;
      }
    }
    &__details {
      width: 47%;
      background: var(--bg-color);
      padding: 2.5rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      @include sm {
        padding: 1rem;
        width: 100%;
      }
    }
    &__description {
      flex: 1;
      ul {
        margin-top: 1rem;
        font-size: 1.5rem;
        li {
          margin-top: 0.5rem;
          svg {
            margin-right: 0.5rem;
            fill: var(--font-color);
          }
        }
      }
    }
    &__title {
      margin-bottom: 2rem;
    }
    &__links {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 2rem;
      margin-top: 2.5rem;
      svg {
        margin-left: 1rem;
      }
      a {
        margin-right: 2rem;
        display: flex;
        align-items: center;
        @include link-states(--heading-color, --primary-color);
      }
      a:last-of-type {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
      }
    }
    &__techstack {
      span {
        border: 1px solid grey;
      }
    }
    &__read-more {
      color: var(--primary-color);
      font-size: 1.5rem;
      text-transform: uppercase;
      @include link-states(--primary-color, --font-color);
    }
  }
}
