.journey {
  margin: 1rem 2rem 4rem 2rem;
}
.draggable-container {
  margin: 0 auto;
  width: 90%;
}
.svg-container {
  width: 90%;
  margin: 0 auto;
}

#pathNavigator {
  border-radius: 50%;
  background-color: var(--primary-color);
}

.placename {
  opacity: 0;
}

.placeimage {
  opacity: 0;
}
