.journey {
  visibility: hidden;

  margin: 1rem 2rem 4rem 2rem;
  @include sm-md {
    margin: 0rem;
  }
}
.draggable-container {
  margin: 0 auto;
  width: 90%;
}
.svg-container {
  width: 90%;
  margin: 0 auto;
}

#pathNavigator {
  border-radius: 50%;
  background-color: var(--primary-color);
}

#dragNavigator {
  &:hover {
    cursor: 'pointer' !important;
  }
  @include sm {
    transform: translateY(-30px) scale(2.5);
    transform-origin: 50% 50%;
  }
}

.placename {
  visibility: hidden;
}

.placeimage {
  visibility: hidden;
}
