@mixin hover-svg($svg-color, $hover-color, $duration) {
  cursor: pointer;
  fill: $svg-color;
  transition: all $duration ease-in-out;
  &:hover {
    fill: $hover-color;
  }
}

@mixin link-states(){
  color: var(--heading-color);
  transition: all .3s ease-in-out;
  &:hover, &:focus {
    color: var(--primary-color)
  }
}

@mixin fade-in($duration) {
  animation: fade-in $duration;
}
