// breakpoints
@mixin xsm {
  @media only screen and (max-width: #{$xsm-breakpoint}) {
    @content;
  }
}

@mixin sm {
  @media only screen and (max-width: #{$sm-breakpoint}) {
    @content;
  }
}
@mixin sm-md {
  @media only screen and (max-width: #{$sm-md-breakpoint}) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: #{$md-breakpoint}) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: #{$lg-breakpoint}) {
    @content;
  }
}

@mixin xl {
  @media only screen and (max-width: #{$xl-breakpoint}) {
    @content;
  }
}

@mixin custom($max-width-value) {
  @media only screen and (max-width: #{$max-width-value} + 'px') {
    @content;
  }
}

@mixin hover-svg($svg-color, $hover-color, $duration) {
  cursor: pointer;
  fill: $svg-color;
  transition: all $duration ease-in-out;
  &:hover {
    fill: $hover-color;
  }
}

@mixin link-states($from, $to) {
  color: var($from);
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus {
    color: var($to);
  }
}

@mixin fadeIn($duration) {
  animation: #{$duration}s ease-in 0.5s forwards fadeIn;
}

@mixin absoluteCentre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
