// COLOURS


:root {
    --primary-color: #DA2497;
    --secondary-color: #536390;
    --font-color: #373f51;
    --bg-color: #FDFDFD;
    --heading-color: #5a5766;
    --white-color: #FDFDFD;
    --svg-color: #536390;
}

[data-theme="dark"] {
    --primary-color: #DA2497;
    --secondary-color: #536390;
    --font-color: #FDFDFD;
    --bg-color: #373f51;
    --heading-color: #c1cad6;
    --white-color: #FDFDFD;
    --svg-color: #FDFDFD;
}

// BREAKPOINTS
// ems best option for media queries due to browsers
// base is 16px
$md-breakpoint: 916px;
