.blog-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 75%;
  li {
    width: 100%;
    padding: .75rem;
  }
  &__read-more {
    text-align: right;
    color: var(--primary-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-right: 0;
  }
}

.blog {
  margin: 1.5rem 0;
  border-left: 3px solid transparent;
  transition: all .5s ease-in-out;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    letter-spacing: .4rem;
  }
  &__subtitle {
    letter-spacing: .2rem;
    margin-bottom: 1rem;
  }
  &__author, &__date {
    color: var(--heading-color);
    font-size: 1.25rem;
  }

  &:hover {
    border-left: 3px solid var(--primary-color);
  }
}
