.blog-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem 4rem 2rem;

}
.blog-list {
  display: flex;
  flex-wrap: wrap;
  li {
    padding: .75rem;
  }
  &__read-more {
    text-align: right;
    color: var(--primary-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-right: 0;
  }
}

.blog {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    letter-spacing: .4rem;
  }

  &__subtitle {
    letter-spacing: .2rem;
    margin-bottom: 1rem;
  }


  border-left: 3px solid transparent;
  transition: all .5s ease-in-out;
  &:hover {
    border-left: 3px solid var(--primary-color);
  }
}
