.clipboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__input {
    min-width: 25rem;
    min-height: 3rem;
    font-family: inherit;
    font-size: 1.5rem;
    color: currentColor;
  }
  &__button {
    display: inline-block;
    font-size: 3.5rem;
    flex: none;
    background: none;
    border: none;
    height: 100%;
    svg {
      fill: var(--svg-color);
    }
    &:hover{
      svg {
        fill: var(--primary-color);
      }
    }
  }
  &__input:focus + &__button > svg {
      fill: var(--primary-color);
  }

}
