.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 50%;
  margin-top: 1rem;
  &__form-control {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
