.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  .heading-3 {
    margin-bottom: 2rem;
  }
  &__form-control {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  @include md {
    width: 90%;
  }
  @include sm {
    width: 100%;
  }
}

.msg {
  border: 2px solid var(--primary-color);
  border-radius: 3px;
  padding: 0.5rem 1.5rem;
  margin: 1rem;
}
