.social-media-icons {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    margin: 0 1.5rem;
    font-size: 2rem;
    svg {
      @include hover-svg(
        var(--svg-color),
        var(--primary-color),
        0.5s
      );
    }
  }
}

.tag-icons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
}

.tag-icon {
  display: inline-block;
  padding: 0.25rem 1rem;
  margin: 1rem 1rem 0 0;
  letter-spacing: 0.4rem;
  text-align: center;
  text-transform: uppercase;
  // TODO: alter colour
  border: 1px solid black;
  border-radius: 3px;
}
