.link {
  margin: 2em;
  text-decoration: none;
  text-align: center;
  color: var(--font-color);
  min-height: 2.5rem;
  min-width: 4rem;
}

.selected {
  display: inline-block;
  background-size: 100% 5px;
  background-position: bottom 0 left 0, bottom 5px left 0;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(to right, var(--bg-color), var(--bg-color)),
    linear-gradient(to right, var(--secondary-color), var(--primary-color));
}
