.link {
  margin: 1rem 2em;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  color: var(--font-color);
  min-height: 2.5rem;
  min-width: 4rem;
  @extend .gradient-underline;
  background-size: 0% 5px;
  transition: all .5s;
}

.link:hover {
  background-size: 100% 5px;
}

.selected {
  @extend .gradient-underline;
  background-size: 100% 5px;
}
