html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #2f303a;
  background-color: var(--bg-color);
  color: var(--font-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 350px;
}

a {
  cursor: pointer;
  text-decoration: none;
}
