*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
  background-color: var(--bg-color);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: var(--font-color);
}

img {
  max-width: 350px;
}

ul, ol {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--font-color);
}

::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}
