p {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

%heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  color: var(--heading-color);
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
  color: var(--heading-color);
  line-height: 1;
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: var(--font-color);
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;
}
