.footer {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: none; // prevents shrinkage http://bit.ly/1Mn35US for details
  a {
    @include link-states(--heading-color, --primary-color);
  }
  @include sm {
    flex-direction: column-reverse;
  }
}
