.header {
  font-size: 18px;
  letter-spacing: .15rem;
  flex: none; // prevents shrinkage http://bit.ly/1Mn35US for details
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__links {
    display: flex;
    justify-content: space-around;
    align-items: top;
  }
  &__logo-link svg {
    fill: none;
    @include hover-svg(var(--primary-color), .5s);
  }
}

.mode-switch-container {
  display: inline-block;
}

.mode-switch input {
  display: none;
}

.lightbulb {
  svg {
    min-height: 30px;
    min-width: 30px;
    margin: 32px;
    @include hover-svg(var(--primary-color), .4s);
  }
}
