// https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css
.container {
  display: flex;
  height: 100vh; // vh buggy in older mobile Safari - replace w %?
  flex-direction: column;
  padding: 2rem;
  @include sm {
    padding: 1.5rem;
  }
}

.content {
  flex: 1 0 auto; // prevents shrinkage http://bit.ly/1Mn35US for details
  width: 100%;
}

.page-title {
  margin: 1rem 2rem 4rem 2rem;
  letter-spacing: 0.4rem;
  @include sm {
    margin: 2rem 0rem;
  }
}
